log
lib                                                                                                                                                                                                                                         
privateprops
build
.classpath
.project
.settings
