log
lib                                                                                                                                                                                                                                         
privateprops
build
.classpath
.project
.settings
/.apt_generated/
